


@{
    ViewBag.Title = "Index";
}
<style>
    
</style>
<h1 class="heading">Brotherhoods</h1>
<div id="main">Index</div>



@section scripts{
    <script src="~/Scripts/react/dist/Shopping.bundle.js"></script>
}
